<div class="form">
  <mat-card appearance="outlined">

    <form action="" [formGroup]='form'>
      <mat-form-field appearance="outline">
        <mat-label>Community Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Community</mat-label>
        <mat-select formControlName="type">
          @for (community of communities; track community) {
            <mat-option [value]="community.value">{{ community.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Logo Alignment</mat-label>
        <mat-select formControlName="alignment">
          @for (alignment of alignments; track alignment) {
            <mat-option [value]="alignment.value">{{ alignment.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle formControlName="isMonochrome">
        Monochrome
      </mat-slide-toggle>
      @if (isMonochrome|async) {
        <div class="color-picker">
          <div class="label">
            Logo Color
          </div>

          <div class="actions">
            <ngx-colors ngx-colors-trigger formControlName="color"/>
          </div>
        </div>
        <div class="color-picker">
          <div class="label">
            Background Color
          </div>
          <div class="actions">
            <ngx-colors ngx-colors-trigger formControlName="bgColor"/>
            <button mat-button (click)="setBgTransparent()">Transparent</button>
          </div>
        </div>
      }
      <div class="form-action">
        <button mat-flat-button (click)="triggerDownload('png')">Download PNG</button>
        <button mat-flat-button (click)="triggerDownload('svg')">Download SVG</button>
      </div>
    </form>
  </mat-card>

</div>
