
<mat-card appearance="outlined">

  <div class="logo" #wrapper>
    @if (config.name) {
      @if (config.alignment == LOGO_ALIGNMENT.CENTER) {
        <app-gdg-normal [config]="config" (onConfigChange)="onConfigChange($event)"></app-gdg-normal>
      } @else {
        <app-gdg-inline [config]="config" (onConfigChange)="onConfigChange($event)"></app-gdg-inline>
      }
    }
    <div class="canvas-wrap">
      @if (isBrowser && config.alignment) {
        <canvas #canvas [height]="wrapper.clientHeight*2" [width]="wrapper.clientWidth*2"></canvas>
      }
    </div>
  </div>

</mat-card>

